.add{
    border: black solid 2px;
    padding: 1%;


}

.Totalperson{
    border: black solid 2px;
    padding: 1%;

}

.app{
    display: flex;
    justify-content:space-evenly;
}

p{
    margin: 2px;
}